In [1]:
import geopandas as gpd
import pandas as pd
from shapely import wkt
import matplotlib.pyplot as plt
from shapely.geometry import Point
import os

#### 1. Get the NUTS geometries

In [4]:
# load geometries
geometries_path = 'test_data\\espon\\geometry.csv'
# Load the CSV file into a pandas DataFrame
gdf = pd.read_csv(geometries_path)

# Convert the 'geometry' column to actual geometrical data using shapely
gdf['geometry'] = gdf['geometry'].apply(wkt.loads)

# Convert the pandas DataFrame to a GeoPandas GeoDataFrame
gdf = gpd.GeoDataFrame(gdf, geometry='geometry')

# Set the current coordinate reference system (CRS)
gdf.set_crs(epsg=4326, inplace=True)

                                               geometry tunit_code
0     POLYGON ((16.02442 47.38532, 16.04583 47.39272...       AT11
1     POLYGON ((13.57837 47.41070, 13.57786 47.41138...       AT22
2     POLYGON ((14.46053 48.06805, 14.46171 48.06858...       AT12
3     POLYGON ((16.19393 48.22388, 16.25562 48.23942...       AT13
4     POLYGON ((12.73732 47.11885, 12.84519 47.11302...       AT21
...                                                 ...        ...
3288  POLYGON ((-0.38119 52.41218, -0.38176 52.44140...       UKH1
3289  MULTIPOLYGON (((-0.35391 42.90804, -0.30195 42...       FRJ2
3290  POLYGON ((-0.01695 51.69028, -0.01228 51.69725...       UKH3
3291  POLYGON ((-0.93636 53.70488, -0.95523 53.75601...       UKE1
3292  POLYGON ((-0.94752 50.82932, -0.92353 50.85992...       UKJ2

[3293 rows x 2 columns]

#### 2. Get the available csv files with socioeconmic data

In [7]:
def create_csv_dict(folder_path):
    csv_dict = {}
    for root, dirs, files in os.walk(folder_path):
        for file in files:
            if file.endswith('.csv'):
                file_path = os.path.join(root, file)
                csv_dict[file] = file_path
    return csv_dict

# Create dict with files and paths 
folder_path = 'test_data\\espon'
csv_files_dict = create_csv_dict(folder_path)
csv_files_dict.pop('geometry.csv')
for k,v in csv_files_dict.items():
    print(f"'{k}':{v}")

'Population_-_age_group_25-64_-_with_educational_attainment_level_0-2_.csv':test_data\espon\Educational_attainment_level_by_age_group\Population_-_age_group_25-64_-_with_educational_attainment_level_0-2_.csv
'Population_-_age_group_25-64_-_with_educational_attainment_level_3-4_.csv':test_data\espon\Educational_attainment_level_by_age_group\Population_-_age_group_25-64_-_with_educational_attainment_level_3-4_.csv
'Population_-_age_group_25-64_-_with_educational_attainment_level_5-8_.csv':test_data\espon\Educational_attainment_level_by_age_group\Population_-_age_group_25-64_-_with_educational_attainment_level_5-8_.csv
'Population_-_age_group_30-34_-_with_educational_attainment_level_0-2_.csv':test_data\espon\Educational_attainment_level_by_age_group\Population_-_age_group_30-34_-_with_educational_attainment_level_0-2_.csv
'Population_-_age_group_30-34_-_with_educational_attainment_level_3-4_.csv':test_data\espon\Educational_attainment_level_by_age_group\Population_-_age_group_30-34_-_with_educational_attainment_level_3-4_.csv
'Population_-_age_group_30-34__-_with_educational_attainment_level_5-8_.csv':test_data\espon\Educational_attainment_level_by_age_group\Population_-_age_group_30-34__-_with_educational_attainment_level_5-8_.csv
'Female_Population_-_age_group_25-64__0-2_educational_attainment_level_.csv':test_data\espon\Employment_rate_by_age_group_\Female_Population_-_age_group_25-64__0-2_educational_attainment_level_.csv
'Female_Population_-_age_group_25-64__3-4_educational_attainment_level_.csv':test_data\espon\Employment_rate_by_age_group_\Female_Population_-_age_group_25-64__3-4_educational_attainment_level_.csv
'Female_Population_-_age_group_25-64__5-8_educational_attainment_level_.csv':test_data\espon\Employment_rate_by_age_group_\Female_Population_-_age_group_25-64__5-8_educational_attainment_level_.csv
'Female_Population_-_age_group_30-34__0-2_educational_attainment_level_.csv':test_data\espon\Employment_rate_by_age_group_\Female_Population_-_age_group_30-34__0-2_educational_attainment_level_.csv
'Female_Population_-_age_group_30-34__3-4_educational_attainment_level_.csv':test_data\espon\Employment_rate_by_age_group_\Female_Population_-_age_group_30-34__3-4_educational_attainment_level_.csv
'Female_Population_-_age_group_30-34__5-8_educational_attainment_level_.csv':test_data\espon\Employment_rate_by_age_group_\Female_Population_-_age_group_30-34__5-8_educational_attainment_level_.csv
'Male_Population_-_age_group_25-64__0-2_educational_attainment_level_.csv':test_data\espon\Employment_rate_by_age_group_\Male_Population_-_age_group_25-64__0-2_educational_attainment_level_.csv
'Male_Population_-_age_group_25-64__3-4_educational_attainment_level_.csv':test_data\espon\Employment_rate_by_age_group_\Male_Population_-_age_group_25-64__3-4_educational_attainment_level_.csv
'Male_Population_-_age_group_25-64__5-8_educational_attainment_level_.csv':test_data\espon\Employment_rate_by_age_group_\Male_Population_-_age_group_25-64__5-8_educational_attainment_level_.csv
'Male_Population_-_age_group_30-34__0-2_educational_attainment_level_.csv':test_data\espon\Employment_rate_by_age_group_\Male_Population_-_age_group_30-34__0-2_educational_attainment_level_.csv
'Male_Population_-_age_group_30-34__3-4_educational_attainment_level_.csv':test_data\espon\Employment_rate_by_age_group_\Male_Population_-_age_group_30-34__3-4_educational_attainment_level_.csv
'Male_Population_-_age_group_30-34__5-8_educational_attainment_level_.csv':test_data\espon\Employment_rate_by_age_group_\Male_Population_-_age_group_30-34__5-8_educational_attainment_level_.csv
'Employment_rate__-_female_-_age_group_15-24.csv':test_data\espon\Employment_rate_by_age_and_gender_\Employment_rate__-_female_-_age_group_15-24.csv
'Employment_rate__-_female_-_age_group_25-64.csv':test_data\espon\Employment_rate_by_age_and_gender_\Employment_rate__-_female_-_age_group_25-64.csv
'Employment_rate__-_female_-_age_group_65.csv':test_data\espon\Employment_rate_by_age_and_gender_\Employment_rate__-_female_-_age_group_65.csv
'Employment_rate__-_male_-_age_group_15-24.csv':test_data\espon\Employment_rate_by_age_and_gender_\Employment_rate__-_male_-_age_group_15-24.csv
'Employment_rate__-_male_-_age_group_25-64.csv':test_data\espon\Employment_rate_by_age_and_gender_\Employment_rate__-_male_-_age_group_25-64.csv
'Employment_rate__-_male_-_age_group_65.csv':test_data\espon\Employment_rate_by_age_and_gender_\Employment_rate__-_male_-_age_group_65.csv

##### get avilable years for fetaure with respect to nuts level

In [12]:
res_df = pd.DataFrame()

nuts_level_oi = 2 #https://en.wikipedia.org/wiki/Nomenclature_of_Territorial_Units_for_Statistics

for k,v in csv_files_dict.items():
    try:
        df = pd.read_csv(v)
        c = list(df.columns)
        c = [cc for cc in c if 'y_' in cc]
        data = {}
        data['name'] = k
        for cc in c:
            count = len(df[(df[cc].notna()) & (df['level'] == nuts_level_oi)])
            data[cc] = count
        if any(data[key] != 0 for key in c):
            # Add the dictionary as a row to the DataFrame using concat
            res_df = pd.concat([res_df, pd.DataFrame([data])], ignore_index=True)
    except Exception as e:
        print

print(res_df)

                                                 name  y_2000  y_2001  y_2002  \
0   Population_-_age_group_25-64_-_with_educationa...     312     312     312
1   Population_-_age_group_25-64_-_with_educationa...     315     315     315
2   Population_-_age_group_25-64_-_with_educationa...     312     312     312
3   Population_-_age_group_30-34_-_with_educationa...     313     313     313
4   Population_-_age_group_30-34_-_with_educationa...     311     311     311
5   Population_-_age_group_30-34__-_with_education...     307     307     307
6   Female_Population_-_age_group_25-64__0-2_educa...     307     307     307
7   Female_Population_-_age_group_25-64__3-4_educa...     313     313     313
8   Female_Population_-_age_group_25-64__5-8_educa...     314     314     312
9   Female_Population_-_age_group_30-34__0-2_educa...     304     303     303
10  Female_Population_-_age_group_30-34__3-4_educa...     308     308     308
11  Female_Population_-_age_group_30-34__5-8_educa...     310     310     310
12  Male_Population_-_age_group_25-64__0-2_educati...     312     312     312
13  Male_Population_-_age_group_25-64__3-4_educati...     312     312     312
14  Male_Population_-_age_group_25-64__5-8_educati...     312     312     312
15  Male_Population_-_age_group_30-34__0-2_educati...     302     302     302
16  Male_Population_-_age_group_30-34__3-4_educati...     305     305     305
17  Male_Population_-_age_group_30-34__5-8_educati...     302     302     302
18    Employment_rate__-_female_-_age_group_15-24.csv     289     289     289
19    Employment_rate__-_female_-_age_group_25-64.csv     290     290     290
20       Employment_rate__-_female_-_age_group_65.csv     238     239     240
21      Employment_rate__-_male_-_age_group_15-24.csv     266     266     266
22      Employment_rate__-_male_-_age_group_25-64.csv     267     267     267
23         Employment_rate__-_male_-_age_group_65.csv     267     267     267

    y_2003  y_2004  y_2005  y_2006  y_2007  y_2008  ...  y_2012  y_2013  \
0      312     312     312     312     312     312  ...     316     326
1      315     315     315     315     315     315  ...     316     326
2      312     312     312     312     312     312  ...     316     326
3      313     313     313     313     313     313  ...     314     324
4      311     311     311     311     311     311  ...     315     325
5      307     307     307     307     307     307  ...     311     324
6      307     307     307     307     307     307  ...     316     326
7      313     313     313     313     313     313  ...     317     326
8      312     312     312     312     312     312  ...     316     326
9      303     303     303     303     302     302  ...     303     314
10     308     308     308     308     308     308  ...     312     322
11     310     310     310     310     310     310  ...     311     321
12     312     312     312     312     312     312  ...     316     326
13     312     312     312     312     312     312  ...     316     326
14     312     312     312     312     312     312  ...     316     326
15     302     302     302     302     302     302  ...     303     314
16     305     305     305     305     305     305  ...     309     319
17     302     302     302     302     302     302  ...     306     316
18     289     289     289     316     316     316  ...     316     316
19     290     290     290     317     317     317  ...     317     317
20     240     240     239     264     263     262  ...     264     264
21     266     266     266     291     291     291  ...     291     291
22     267     267     267     292     292     292  ...     292     292
23     267     267     267     294     294     294  ...     294     295

    y_2014  y_2015  y_2016  y_2017  y_2018  y_2019  y_2020  y_1999
0      327     327     327     327     327   327.0   327.0     NaN
1      327     327     327     327     327   327.0   327.0     NaN
2      327     327     327     327     327   327.0   327.0     NaN
3      325     325     325     325     325   325.0   324.0     NaN
4      326     326     326     326     326   326.0   326.0     NaN
5      325     325     325     325     325   325.0   322.0     NaN
6      327     327     327     327     327   327.0   322.0     NaN
7      327     327     327     327     327   327.0   327.0     NaN
8      327     327     327     327     327   327.0   327.0     NaN
9      315     315     315     316     316   311.0   310.0     NaN
10     323     323     323     323     323   323.0   323.0     NaN
11     322     322     322     323     323   323.0   322.0     NaN
12     327     327     327     327     327   327.0   327.0     NaN
13     327     327     327     327     327   327.0   327.0     NaN
14     327     327     327     327     327   327.0   327.0     NaN
15     315     315     315     316     316   313.0   310.0     NaN
16     322     322     322     322     322   323.0   322.0     NaN
17     318     318     318     320     319   318.0   318.0     NaN
18     316     315     316     278     280     NaN     NaN   289.0
19     317     317     317     278     278     NaN     NaN   290.0
20     263     266     264     247     247     NaN     NaN   241.0
21     291     291     291     255     256     NaN     NaN   266.0
22     292     292     292     255     255     NaN     NaN   267.0
23     295     295     295     267     268     NaN     NaN   267.0

[24 rows x 23 columns]

In [13]:
print(list(df.columns))

count = len(df[(df['y_2017'].notna()) & (df['level'] == 2)])
print(count)  # Output: 2

['geom_id', 'id', 'name', 'code', 'nomenclatu', 'level', 'version', 'tunit_code', 'tunit_name', 'processes', 'sources', 'y_1999', 'y_2000', 'y_2001', 'y_2002', 'y_2003', 'y_2004', 'y_2005', 'y_2006', 'y_2007', 'y_2008', 'y_2009', 'y_2010', 'y_2011', 'y_2012', 'y_2013', 'y_2014', 'y_2015', 'y_2016', 'y_2017', 'y_2018']
267

In [14]:
print(df)

      geom_id     id                                        name  \
0    152000.0  248.0  Employment rate (%) - male - age group 65+
1     11521.0  248.0  Employment rate (%) - male - age group 65+
2    152017.0  248.0  Employment rate (%) - male - age group 65+
3     11578.0  248.0  Employment rate (%) - male - age group 65+
4     11612.0  248.0  Employment rate (%) - male - age group 65+
..        ...    ...                                         ...
449   13441.0  248.0  Employment rate (%) - male - age group 65+
450   13450.0  248.0  Employment rate (%) - male - age group 65+
451  152018.0  248.0  Employment rate (%) - male - age group 65+
452  152041.0  248.0  Employment rate (%) - male - age group 65+
453  152131.0  248.0  Employment rate (%) - male - age group 65+

               code nomenclatu  level  version tunit_code  \
0    empl_males_65+       NUTS      0   2013.0         AL
1    empl_males_65+       NUTS      0   2013.0         AT
2    empl_males_65+       NUTS      0   2013.0         BA
3    empl_males_65+       NUTS      0   2013.0         BE
4    empl_males_65+       NUTS      0   2013.0         BG
..              ...        ...    ...      ...        ...
449  empl_males_65+       NUTS      1   2013.0        UKD
450  empl_males_65+       NUTS      1   2013.0        TRC
451  empl_males_65+       NUTS      1   2013.0        BA0
452  empl_males_65+       NUTS      1   2013.0        RS1
453  empl_males_65+       NUTS      1   2013.0        RS2

                 tunit_name  processes  ... y_2009  y_2010  y_2011  y_2012  \
0                   Albania        NaN  ...    NaN     NaN     NaN     NaN
1                OSTERREICH        NaN  ...    7.8     7.4     7.0     6.9
2    BOSNIA AND HERZEGOVINA        NaN  ...    NaN     NaN     NaN     NaN
3           BELGIQUE-BELGIE        NaN  ...    3.0     3.2     3.4     3.9
4                  BULGARIA        NaN  ...    5.5     4.8     4.7     4.4
..                      ...        ...  ...    ...     ...     ...     ...
449    NORTH WEST (ENGLAND)        NaN  ...    7.8    10.3     9.9    10.4
450       GUNEYDOGU ANADOLU        NaN  ...   15.7    17.5    14.5    15.6
451  BOSNIA AND HERZEGOVINA        NaN  ...    NaN     NaN     NaN     NaN
452            Serbia North        NaN  ...    NaN     NaN     NaN     NaN
453            SERBIA SOUTH        NaN  ...    NaN     NaN     NaN     NaN

     y_2013  y_2014  y_2015  y_2016  y_2017  y_2018
0       NaN     NaN     NaN     NaN     NaN     NaN
1       7.4     7.5     7.5     7.0     6.7     6.8
2       NaN     NaN     NaN     NaN     NaN     NaN
3       3.6     3.8     4.1     3.6     3.9     3.9
4       5.1     5.9     6.1     6.5     7.4     8.2
..      ...     ...     ...     ...     ...     ...
449    11.7    11.4    10.9    10.0    11.0    12.2
450    19.9    13.5    12.8    13.8    15.0    13.5
451     NaN     NaN     NaN     NaN     NaN     NaN
452     NaN     NaN     NaN     NaN     NaN     NaN
453     NaN     NaN     NaN     NaN     NaN     NaN

[454 rows x 31 columns]